		*{
		margin: 0%;
		padding: 0%;
		box-sizing: border-box;
	}
	
	nav{
		background-color: green;
		height: 10vh;
	}
	
	nav ul h1{
		color: white;
		font-family: sans-serif;
	}
	
	nav ul{
		justify-content: space-around;
		display: flex;
		align-items: center;
		list-style-type: none;
	}
	
	nav li{
		justify-content: space-between;
		margin: 25px 15px;
	}
	
	nav li a{
		margin: 0 15px;
		text-decoration: none;
		color: white;
		padding: 10px 10px;
		border-radius: 1rem;
		font-size: 20px;
		transition: 0.5s;
		font-family: sans-serif;
	}
	
	nav li a:hover{
		background-color: black;
		color: green;
		transition: 0.5s;
	}



	.container1{
		width: 500px;
		height: 150px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10%;
	}
	
	.inside-container1{
		text-align: center;
		padding: 35px;
	}